$primary-color: #8857cd;
$focused-border-color: #9a74db;
$unfocused-border-color: #d5d8db;

$white-color: #ffffff;

$bg-color: $white-color;

$gray-text-color: #908b94;
$black-text: #201d24;
$text-disabled: #989b9e;

$outside-label-color: #4e4755;

$light-grey: #f3f4f5;
$grey: #e6e8eb;
$dark-grey: #dcdfe3;

$sidebar-bg-color: $light-grey;
$sidebar-nav-focus-bg: $dark-grey;
$sidebar-btn: $grey;

$light-gray-text: #667482;

$border-primary: #d5d8db;

$overlay: rgba(102, 116, 130, 0.4);
